.flare {
    position: fixed;
    width: 60rem;
    height: 60rem;
    border-radius: 100%;
    pointer-events: none;
    transform: translate(-50%, -50%);
    z-index: 0 !important ;
    transition: width 0.2s ease-in-out, height 0.2s ease-in-out;
    cursor: none !important; 
    background-blend-mode: darken;
    background: rgb(119,141,169);
    background: radial-gradient(circle, rgba(119,141,169,0.15) 0%, rgba(13,27,42,0.15) 75%, rgba(13,27,42,1) 100%);
  }
  
  @media screen and (max-width: 768px) {
    .flare {
      width: 0;
      height: 0;
      transition: width 0.2s ease-in-out, height 0.2s ease-in-out,
        opacity 0.2s ease-in-out;
    }
  }
  .flare.pointer {
    opacity: 0 !important;
    transition: width 0.2s ease-in-out, height 0.2s ease-in-out, opacity 0.2s ease-in-out;
  }

  